<html ng-app='UnitConverter'>
	<head>
		<title>Unit Converter</title>
	</head>
	<body>
		<h1>Converter App</h1>
		
		<div ng-controller='volumeConversionController as ucc'>
			<input type='text' ng-model='ucc.input' placeholder='Enter amount'></input>
			<select ng-model='ucc.firstSelection' 
					ng-options='unit.unit_name for unit in ucc.volumeUnits'
					ng-change='ucc.showSelectedUnit()'>
			<option value="" disabled>From</option>
			</select>
			<select ng-model='ucc.secondSelection' 
					ng-options='unit.unit_name for unit in ucc.volumeUnits'
					ng-change='ucc.showSelectedUnit()'>
			<option value="" disabled>To</option>
			</select>
			<div>
				<form ng-submit="ucc.convertVolume()">
            		<input type='submit' value='Convert Volume'>
    			</form>
			</div>
			<div>
				<p> Conversion Result: {{ucc.input}} {{.unit_name}} = <span ng-bind='ucc.resultVolume'></span> {{ucc.secondSelection.unit_name}}</p> 
			</div>
		</div> <!--volumeConversionController-->
		
	</body>
	<script src='angular.min.js'></script>
	<script src='app.js'></script>
 </html>